.item {
	border: 1px solid #000;
	margin: 10px;
	width: 400px;
}

.item img {
	width: 150px;
	padding-top: 10px;
}

.modal {
	border: 1px solid #000;
}
.modal img{
	width: 150px;
	padding-top: 10px;
}

.card img {
	width: 150px;
	padding-top: 10px;
}

.card a {
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	margin-right: 10px;
	padding: 5px 20px;
}

.card button {
	cursor: pointer;
	padding: 7px 20px;
}