.item {
	border: 1px solid #000;
	margin: 10px;
	width: 400px;
}

.item img {
	width: 150px;
	padding-top: 10px;
}

.modal {
	border: 1px solid #000;
}
.modal img{
	width: 150px;
	padding-top: 10px;
}

.card img {
	width: 150px;
	padding-top: 10px;
}