.new_contact {
	margin: 15px auto;
}

.input_form input {
	display: block;
	margin: 5px auto;
	padding: 5px 10px;
}

.input_form img {
	width: 150px;
}

.input_form button {
	margin-right: 10px;
	padding: 5px 10px;
	background-color: darkred;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.input_form a {
	text-decoration: none;
	padding: 3px 5px;
	background-color: darkred;
	color: white;
	border-radius: 5px;
}

